* {
	font-family: "Montserrat", sans-serif;
	color: #fff;
}

body {
	background-image: url("../img/bg copy.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	text-align: center;
}

.container {
	padding: 0;
}

.container .name {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%;
	display: block;
}

.name h2 {
	text-transform: uppercase;
	font-size: 1.2em;
}

.name p {
	text-transform: lowercase;
	font-size: 1em;
	font-family: "Lora", sans-serif;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:focus {
	font-family: "Lora", sans-serif;
	font-size: 1em;
	text-transform: lowercase;
	color: #fff;
}

.navbar-toggle {
	background-image: url("../img/icon-menu.svg");
	border-radius: 0;
	width: 20px;
	background-repeat: no-repeat;
	background-position: center center;
}

.navbar-nav {
	float:right;
	text-transform: lowercase;
	font-family: "Lora", sans-serif;
}

.navbar-default {
	border: 0;
}

.navbar-nav>li>a,
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
	color: #fff;
	text-decoration: none;
	background: none;
	font-family: "Lora", sans-serif;
}

.navbar-nav>.active>a, 
.navbar-nav>.active>a:hover, 
.navbar-nav>.active>a:focus {
  text-decoration: none;
  background: none;
  color: #fff;
}

/*about page*/

.container#content{
	margin-top: 6%;
	display: block;
}

.container#content .col-md-8 {
	text-align: left;
	color: #333;
	padding: 20px 30px;
	margin-left: 13%;
	margin-right: auto;
	margin-bottom: 10px;
	background-color: #f9f9f9;
	width: 75%;
	height: 100%;
	-webkit-box-shadow: 0px 6px 0px -1px rgba(51,51,51,0.61);
	-moz-box-shadow: 0px 6px 0px -1px rgba(51,51,51,0.61);
	box-shadow: 0px 6px 0px -1px rgba(51,51,51,0.61);
}

.container#content .col-md-8 h3 {
	text-transform: lowercase;
	font-family: "Lora", sans-serif;
	margin-top: 5px;
}

.container#content .col-md-8 p {
	color: #333;
	margin: 0px 20px;
}

.container#content .col-md-2 {
	clear: both;
	width: 100%;
}