@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat');

* {
	font-family: "Montserrat", sans-serif;
	color: #fff;
}

body {
	webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-color: #425269;
	text-align: center;
	margin: 0;
	min-height: 100vh;
	-webkit-font-smoothing: antialiased;
}

.container {
	padding: 0;
}

.container .name {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%;
	display: block;
}

.name h2 {
	text-transform: uppercase;
	font-size: 2rem;
}

.name p {
	text-transform: lowercase;
	font-size: 1.6rem;
	font-family: "Lora", sans-serif;
}

.cl-effect-3 a {
	padding: 2px 0;
}

.cl-effect-3 a::after {
	position: absolute;
	top: 100%;
	left: 5%;
	width: 90%;
	height: 2px;
	background: rgba(255,255,255,1);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

#navbar {
	overflow: hidden;
}

.navbar-brand>li>a,
.navbar-brand>li>a:hover,
.navbar-brand>li>a:focus {
	color: #fff;
	padding-bottom: 3px;
	margin: 0;
	text-decoration: none;
	background: none;
	font-family: "Lora", sans-serif;
	font-weight: 700;
}

.navbar-brand>.active>a, 
.navbar-brand>.active>a:hover, 
.navbar-brand>.active>a:focus {
  text-decoration: none;
  background: none;
  color: #fff;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:focus {
	font-family: "Lora", sans-serif;
	font-size: 1em;
	text-transform: lowercase;
	color: #fff;
	padding-top: 5px;
	padding-left: 1px;
}

.navbar-toggle {
	background-image: url("../img/icon-menu.svg");
	border-radius: 0;
	width: 20px;
	background-repeat: no-repeat;
	background-position: center center;
}

.navbar-nav {
	float:right;
	text-transform: lowercase;
	font-family: "Lora", sans-serif;
}

.navbar-default {
	border: 0;
}

.navbar-nav>li {
	display:inline-block;
}

.navbar-nav>li>a,
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
	color: #fff;
	padding-bottom: 3px;
	text-decoration: none;
	background: none;
	font-family: "Lora", sans-serif;
}

.navbar-nav>.active>a, 
.navbar-nav>.active>a:hover, 
.navbar-nav>.active>a:focus {
  text-decoration: none;
  background: none;
  color: #fff;
}

/*about page*/

.container#content{
	margin-top: 6%;
	display: block;
}

.container#content .col-md-8 {
	text-align: left;
	color: #333;
	padding:0;
	margin-left: 14%;
	margin-right: auto;
	margin-bottom: 10px;
	background-color: #f9f9f9;
	max-width: 75%;
	height: 100%;
	border-radius: 2px;
	-webkit-box-shadow: 0px 6px 0px -1px rgba(51,51,51,0.61);
	-moz-box-shadow: 0px 6px 0px -1px rgba(51,51,51,0.61);
	box-shadow: 0px 6px 0px -1px rgba(51,51,51,0.61);
}

.container#content .col-md-8 h3 {
	text-transform: lowercase;
	font-family: "Lora", sans-serif;
	margin-top: 5px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-left: 20px;
}

.container#content .col-md-8 p {
	color: #333;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

.container#content .col-md-8 strong {
	text-transform: lowercase;
	font-family: "Lora", sans-serif;
	color: #333;
}

.container#content .col-md-2 {
	clear: both;
	width: 100%;
}

.row {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

.thumbnail {
	position: relative;
	padding:0;
	border:0;
	border-radius: 0;
}

.thumbnail .caption {
	position: absolute;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.9);
	opacity: 0;
	transition: all 0.3s;
}

.thumbnail:hover .caption {
	opacity: 1;
}

.caption strong {
	font-family: "Lora", sans-serif;
	font-size: 1.2em;
	font-weight: 700;
	text-transform: lowercase;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border: 0;
}

/* Hero image */

.hero {
	height: 350px;
	max-width: 100%;
}

#about {
	background-image: url("../img/me.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right center;
}

em {
	color: #757575;
}

/* portfolio hero images */

#p1 {
	background-image: url("../img/lahyani.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: 20px;
}

#p2 {
	background-image: url("../img/nomad.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: 20px;
}